* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{ 
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(51vh, 95vh) auto;
    /* grid-template-rows: minmax(81vh, 95vh) 3rem; */
    /* padding-bottom: 3rem;  */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

#center{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#form{ 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    /* position: fixed;  */
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    /* height: 3rem;  */
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input{ 
    max-height: 40vh;
    resize: none;
    font-size: 21px;
    padding: 3px 1rem; 

    border: none; 
    /* padding: 0 1rem;  */
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

#input:focus{ 
    outline: none; 
}

#form > button{ 
    flex-grow: 1;

    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}


#messages{
    height: 100%;
    overflow: auto;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.user--message{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#messages > li{ 
    white-space: pre-wrap;
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd){ 
    background: #efefef; 
}

#users{
    display: flex;
    flex-flow: column;
    background-color: #faebd7;
    overflow: hidden;
    /* border: black;
    border-style: dashed; */
}

#users>h4{
    text-align: center;
    padding: 0.5rem 1rem;
}

#online--users{
    height: calc(100% - 2rem);
    overflow: auto;
}

#online--users > li{ 
    padding: 0.25rem 1rem; 
}

#online--users > li:nth-child(odd){ 
    background: #ffdaa8; 
}